*{
    box-sizing: border-box;
}
body{
    padding:0px;
    margin:0px;
    background-color: white;
    min-width:1200px;
}
.clearfix {
    overflow: auto;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

a{
    text-decoration: none;

}

.header{
    width: 80%;
    height: 150px;
    margin: 0px auto;
    /*background:brown;*/
    margin-bottom: 80px;
    
    
    
    
}




.bottomleft{
    float:left;
    width:50%;
    
   /* background:lightcoral;*/
    
    
}
.bottomleft h1{
    margin:0px;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size: 14px;
    letter-spacing: 4px;
    text-decoration: none;
    color: rgb(122, 122, 122);
    padding-top: 40px;
}


.bottomright{
    float:right;
    font-family: 'Poppins', sans-serif;
    /*background:hotpink;*/
    padding-top:42px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
    word-spacing: 38px;
    
}

.bottomright a{
    text-decoration:none;
    color: rgb(177, 177, 177);
}

.bottomright a:hover{
    color: rgb(253, 78, 78);
    font-weight: 600;
}







.introself{
    width: 80%;
    
    margin: 0px auto;
    background:yellow;
    color: black;
    
    height: 150px;
    
    margin-bottom: 80px;

    /*margin-bottom: 55px;*/
    

}

.introself video{
    width: 20%;
    height: 155px;
    /*background-color: blue;*/
    float: left;
    margin: 0px auto;

}


.aboutme{
    
    background: chartreuse;*/
    float: right;
    width: 80%;
    height: 150px;
    margin: 0px auto;
    margin-bottom: 80px;

}

.aboutme h1{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    letter-spacing: 1.5px;
    line-height:20px;
    text-decoration: none;
    color: rgb(122, 122, 122);
}

/*
.right{
    float: right;
    width : 30%;
    background-color: lightskyblue; 
    display: block;
    height: 380px;
    
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    margin-bottom: 100px; 

}
.introself h1{
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    font-size: 25px;
    letter-spacing: 2px;
    text-decoration: none;
    color: purple;
    
    margin: 0px;
    margin-bottom: 35px;
    
}

.introself p{
    font-family: 'Raleway', sans-serif;
    font-weight:500;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(44, 43, 43);
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 13px;

}*/







.end{
    width:80%;
    /*background-color: aqua;*/
    margin: 0px auto;
    margin-bottom: 80px;
    margin-top: 50px;
    float: center;

}

.end h4{
    /*background-color: blanchedalmond;*/
    float: right;
    color:  rgb(78, 78, 78);
    font-size: 10px;
    font-weight:300;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    
    
    
       

}