*{
    box-sizing: border-box;
}
body{
    /*max-width: 890px;*/
    padding:0px;
    margin:0px;
    background-color:rgb(12, 12, 12) ;
    
}
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a{
    text-decoration: none;

}

.header{
    width: 100%;
    height: 100px;
    margin: 0px auto;
    /*background:brown;*/
    
       
    
}

.bottom{
    width: 92%;
    height: auto;
    margin: 0px auto;
    /*background:yellow;*/
    
    

}




.bottomleft{
    float:left;
    
    
    
}

.bottomleft h1 a{
    margin:0px;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    /*color: #ff598b;*/
    color:rgb(247, 23, 135);
    padding-top: 2.6rem;
    text-decoration:none;
    /*background:hotpink;*/
}



.bottomleft h1 a:hover{
    margin:0px;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: white ;
    padding-top: 2.6rem;
    text-decoration:none;
}


.bottomright{
    float:right;
    font-family: 'Poppins', sans-serif;
    /*background:hotpink;*/
    padding-top:2.7rem;
    font-size: 0.85rem;
    letter-spacing: 1px;
    font-weight: 300;
    word-spacing: 38px;
    display: flex;
    flex-wrap: wrap;
    
}

.bottomright li{
    list-style: none;
}


.bottomright a{
    text-decoration:none;
    color: white ;
    font-weight: 300;
    margin: 1.3rem;
    
    
}

.bottomright a:hover{
    color: rgb(247, 70, 158);
    font-weight: 500;
}





span.select {
    color: rgb(228, 228, 228);
    font-weight: 600;
    text-decoration: underline;
}









.projects{
    width: 92%;
    height: auto;
    /*background-color: rgb(133, 133, 172);*/
    
    
    
   /* justify-content: space-between;*/
    padding-top:8rem;
    margin: 0px auto;
    margin-bottom: 0px;
    
}

.flexbox{
    
    display: flex;
    flex-wrap: wrap;
    gap:0.4rem;

}


.pj-tile{
    margin:0px;
    border-radius: 0.175rem;
    aspect-ratio: 16 / 9; 
   
    width: 49.5%;
    background-size: cover;
    background-repeat: no-repeat;
    
    margin-bottom:0.4rem;
}

.pro1 {
    background-image: url(../images/rewind_thumbnail.png);
}

.pro2 {
    background-image: url(../images/scoop_thumbnail.png);
}

.pro3{
    background-image: url(../images/donot_thumbnail.png);
}

.pro4{
    background-image: url(../images/moim_thumbnail.png);
}

.pro5{
    background-image: url(../images/gru_thumbnail.png);
}

.pro6{
    background-image: url(../images/guardening_thumbnail.png);
}




.overlay{
    height: 100%;
    opacity: 0;
    transition: 0.6s ease;
    background-color:rgba(27, 27, 27, 0.863);
   
    border-radius: 0.175rem;
    

    text-align : center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text h1{
    text-align : center;
    color: rgb(236, 236, 236);
    font-size: 2.1rem;
    font-family: 'Poppins', sans-serif;
}
.text h2{
    text-align : center;
    color: rgb(236, 236, 236);
    font-size: 0.95rem;
    font-family: 'Poppins', sans-serif;
}
.text h3{
    text-align : center;
    color: rgb(236, 236, 236);
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    
}

.overlay:hover{
    
    opacity: 0.9;
    font-size: 1.25rem;
    font-weight: 500;
}


.button {
    /*background-color: rgb(248, 42, 145);/* Green */
    border: none;
    color: rgb(248, 42, 145);
    padding: 0.15rem 0.4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.85rem;
    letter-spacing: 0rem;
    font-weight: 300;
    word-spacing: 0rem;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1rem;
    
}

.button1 {
    background-color:transparent;
    
     
    color: rgb(248, 42, 145);
    border: 0.1rem solid rgb(248, 42, 145);
    font-weight: 500;
}



@media (min-width: 1980px){

    
    .bottom{
        width: 92%;
        
    }

    .bottomleft h1 a{
        font-size: 1.55rem;
    }

    .bottomleft h1 a:hover{
        
        font-size: 1.55rem;
        
    }

    .bottomright li a{
        font-size: 0.9rem;
    }

}











@media (max-width: 768px) {

    body{
        overflow-x: hidden;
        background-color: rgb(12, 12, 12);
    }

    nav{
        overflow-x: hidden;
    }
   
    .bars {
        position: absolute;
        height: 13px;
        width: 21px;
        top: 20px;
        right: 30px;
        cursor: pointer;
        z-index: 1;
    }
      
    .bars span {
        display: block;
        width: 20px;
        height: 2px;
        background: rgb(255, 255, 255);
    }
      
    .bar-2, .bar-3 {
        margin-top: 5px;
    }
      
    .bar-1, .bar-3 {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }
      
    .menu-item {
        position: absolute;
        top: -220px;
        right: -200px;
        background: rgba(214, 78, 155, 0.39);
        box-shadow: 0px 0px 5px rgba(255, 0, 144, 0.521);
        width: 350px;
        height: 450px;
        border-bottom-left-radius: 200px;
        margin-right: -200px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }
      
    .item-list{
        position: absolute;
        top: 240px;
        right: 200px;
        color: #FFF;
        margin-right: -200px;
        transition: 1s all;
        -webkit-transition: 1s all;
        -moz-transition: 1s all;
        -o-transition: 1s all;
        
    }
      
    .item-list li {
        list-style: none;
        font-size: 0.75;  
        margin-bottom: 1rem;
        
    }
      
    .greet {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
      
    .greet p {
        color: #FFF;
        font-size: 60%;
        letter-spacing: 1px;
    }
      
    .greet span a {
        color: #5C6BC0;
        letter-spacing: 2px;
    }

    .bottomleft h1 a{
        font-size: 1.25rem;
        /*font-size: calc((2.7 - 1) * 1.2vh + 1rem);*/
    
    }

    .bottomleft h1 a:hover{
    
        color:rgb(255, 255, 255);
    }


    .bottomright a{
        text-decoration:none;
        color: rgb(255, 255, 255);
        
        font-weight: 400;
    }

    .bottom{
        width: 82%;
    }


    .introself{
        /*background-color: sandybrown;*/
        
        margin-top: 20px;
        margin-bottom:20px;
    }
    
    

    .projects{
    width: 88%;
    height: auto;

    /*background-color: rgb(133, 133, 172);*/
    
    
    padding-top:7rem;
    margin: 0px auto;
    margin-bottom: 0px;
    }

    
  

    .pro1{
        width: 100%;
        border-radius: 0.375rem;
    }

    .pro2{
        width: 100%;
        border-radius: 0.375rem;
    }

    .pro3{
        width: 100%;
        border-radius: 0.375rem;
    }
    .pro4{
        width: 100%;
        border-radius: 0.375rem;
    }

    .pro5{
        width: 100%;
        border-radius: 0.375rem;
    }

    .pro6{
        width: 100%;
        border-radius: 0.375rem;
    }

    .overlay{
        border-radius: 0.375rem;
    }

    .end h1{
        
        font-size: 2.3rem;
    
    }

    .endcontact{
        width: 100%;
        
        display: flex;
        justify-content: space-between;
        
        
    }

    .end h4{
        /*background-color: blanchedalmond;*/
        
        margin-top: 1rem;
    }

    .endcontact a{
        font-size: 0.75rem;
    }



    




}




.end{
    border-top: solid 1px #c2c2c2;
    width:92%;
    
    margin-bottom: 3rem;

    
    margin: 0px auto;
    margin-bottom: 2rem;
    margin-top: 3rem;
    

    float: center;

}

.end h1{
    margin-top:1rem;
    
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    
    letter-spacing: 0.1rem;
    text-decoration: none;
    /*color: #ff598b;*/
    color:rgb(247, 23, 135);
    font-size: 1.8rem;
    
    text-decoration:none;

}

.endcontact{
    /*background-color: #ca7171;*/
    margin-top: 1rem;
    word-spacing: 1rem;
    
    
}

.endcontact a{
    vertical-align: bottom;
    color: rgb(202, 202, 202);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    

}

.end h4{
    /*background-color: blanchedalmond;*/
    float: right;
    
    color:  rgb(78, 78, 78);
    font-size: 0.8rem;
    font-weight:300;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.015rem;
    word-spacing: 0.1rem;   
    bottom: 0px;
    
    
    

}
