*{
    box-sizing: border-box;
}


body{
    /*max-width: 890px;*/
    padding:0px;
    margin:0px;
    background-color:white ;
    
}
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a{
    text-decoration: none;

}

.header{
    width: 100%;
    height: 100px;
    margin: 0px auto;
    /*background:brown;*/
    
       
    
}

.bottom{
    width: 92%;
    height: auto;
    margin: 0px auto;
    /*background:yellow;*/
    
    

}




.bottomleft{
    float:left;
    
    margin: 0;
    
    /*background:lightcoral;*/
}

.bottomleft h1 a{
    margin:0px;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    /*color: #ff598b;*/
    color:rgb(247, 23, 135);
    padding-top: 2.6rem;
    text-decoration:none;
    /*background:hotpink;*/
}



.bottomleft h1 a:hover{
    margin:0px;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: rgb(31, 31, 31);
    padding-top: 2.6rem;
    text-decoration:none;
}





.bottomright{
    float:right;
    font-family: 'Poppins', sans-serif;
    /*background:hotpink;*/
    padding-top:2.7rem;
    font-size: 0.85rem;
    letter-spacing: 1px;
    font-weight: 300;
    word-spacing: 38px;
    display: flex;
    flex-wrap: wrap;
    
}

.bottomright li{
    list-style: none;
}


.bottomright a{
    text-decoration:none;
    color: rgb(56, 56, 56);
    font-weight: 300;
    margin: 1.3rem;
    
    
}

.bottomright a:hover{
    color: rgb(247, 70, 158);
    font-weight: 500;
}













.content{
    width: 80%;
    height: auto;
   /* background-color: rgb(133, 133, 172);*/
    padding-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /*background-color: aqua;*/
    

    
}



.first{
    
    margin: 0px auto;
    width:100%;
    /*background:lightcoral;*/

}

.content h2{
    font-weight:600;
    font-size: 2.1rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(36, 36, 36);
}

.content h1{
    font-weight:300;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(167, 167, 167);
    margin-bottom: 0.5rem;
    letter-spacing: 0.05rem;
    
}

.content h3{
    font-weight:300;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(247, 70, 158);
}

.content p{
    font-weight:400;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(56, 56, 56);
    
    margin-top: 2rem;
    margin-bottom: 1.5rem;

}

.main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /*background-color: rgb(127, 172, 255);*/
    padding-bottom: 1.5rem;
    justify-content:space-between;

    height: auto;
}





.detail{
    
    width: 32.5%;
    height: auto;
    background-color: #ebebeb;
    border-radius: 0.25rem;
    aspect-ratio: 16 / 9; 
    padding:1.3rem;
    

}

span.select {
    color: rgb(56, 56, 56);
    font-weight: 600;
    text-decoration: underline;
}


span.me {
    color: rgb(247, 70, 158);
    font-weight: 500;
}




.end{
    border-top: solid 1px #c2c2c2;
    width:92%;
    
    margin-bottom: 3rem;

    
    margin: 0px auto;
    margin-bottom: 2rem;
    margin-top: 3rem;
    

    float: center;

}

.end h1{
    margin-top:1rem;
    
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    
    letter-spacing: 0.1rem;
    text-decoration: none;
    /*color: #ff598b;*/
    color:rgb(247, 23, 135);
    font-size: 1.8rem;
    
    text-decoration:none;

}

.endcontact{
    /*background-color: #ca7171;*/
    margin-top: 1rem;
    word-spacing: 1rem;
    
    
}

.endcontact a{
    vertical-align: bottom;
    color: rgb(110, 110, 110);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    

}

.end h4{
    /*background-color: blanchedalmond;*/
    float: right;
    
    color:  rgb(78, 78, 78);
    font-size: 0.8rem;
    font-weight:300;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.015rem;
    word-spacing: 0.1rem;   
    bottom: 0px;
    
    
    

}



@media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }

    nav{
        overflow-x: hidden;
    }

    
    .header{
        /*background-color: #5C6BC0;*/
        width: 88%;
    }
      
    .bars {
        position: absolute;
        height: 13px;
        width: 21px;
        top: 20px;
        right: 30px;
        cursor: pointer;
        z-index: 1;
    }
      
    .bars span {
        display: block;
        width: 20px;
        height: 2px;
        background: black;
    }
      
    .bar-2, .bar-3 {
        margin-top: 3px;
    }
      
    .bar-1, .bar-3 {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }
      
    .menu-item {
        position: absolute;
        top: -220px;
        right: -200px;
        background: rgba(255, 67, 173, 0.2);
        box-shadow: 0px 0px 5px rgba(255, 67, 173, 0.2);
        width: 350px;
        height: 450px;
        border-bottom-left-radius: 200px;
        margin-right: -200px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
    }
      
    .item-list{
        position: absolute;
        top: 240px;
        right: 200px;
        color: #FFF;
        margin-right: -200px;
        transition: 1s all;
        -webkit-transition: 1s all;
        -moz-transition: 1s all;
        -o-transition: 1s all;
        
    }
      
    .item-list li {
        list-style: none;
        font-size: 0.75;  
        margin-bottom: 1rem;
        
    }
      
    .greet {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
      
    .greet p {
        color: #FFF;
        font-size: 60%;
        letter-spacing: 1px;
    }
      
    .greet span a {
        color: #5C6BC0;
        letter-spacing: 2px;
    }

    .content h2{
        font-weight:500;
        font-size: 1.65rem;
        font-family: 'Poppins', sans-serif;
        color: rgb(36, 36, 36);
    }



    

    .bottomleft h1 a{
        font-size: 1.25rem;
        margin-top: 0;
    }

    .bottomright a{
        
        
        
        font-weight: 400;
    }

    

    

    
   

    
    .publicationcontents{
        width: 80%;
        height: auto;
        padding-top: 3rem;
       
        margin: 0px auto;
        
        flex-grow: 0;

    }
        
    
    .publicationinfo{
        
        /*background:lightblue;*/
        width: 100%;
        margin-bottom: 1.4rem;
         
    }
    .publicationinfo h1{
        text-align: left;
        font-size:0.92rem;

    }

    
    .publication{
    
        width: 100%;
        height: auto;
        /*background:lightblue;*/
    
    }

    .publication h1{
        font-size:0.92rem;
    }

    .paper h2{
        font-size:0.8rem;
    }

    .paper h3{
        font-size:0.68rem;
    }

    .paper h4{
        font-size:0.68rem;
    }

    .paper p{
        font-size: 0.56rem;
    }

    .end{
        width:88%;
    }

    .end h4{
        display: none;
    }

    .end h5{
        display: block;
        float: right;
        font-size: 0.3rem;

        color:  rgb(124, 124, 124);
    
        font-weight:300;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0rem;   

    }

    .endcontact{
        width: 100%;
        
        display: flex;
        justify-content: space-between;
        
        
    }

    .endcontact a{
        font-size: 0.75rem;
    }


    .end h4{
        /*background-color: blanchedalmond;*/
        
        margin-top: 1rem;
    }
    

    



}



